/* src/App.css */
:root {
  --bg-dark: #050505;
  --text-primary: #e2e8f0;
}

body {
  margin: 0; padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-primary);
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Chặn thanh cuộn thừa */
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-wrapper {
  flex: 1; /* Chiếm toàn bộ phần còn lại dưới Header */
  position: relative;
  overflow: hidden;
  display: flex; /* Quan trọng để con cái full chiều cao */
}